<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ziftr.android.ziftrwallet"
    android:versionCode="393"
    android:versionName="0.0.2 (beta)" >

    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:label="test"
        android:targetPackage="com.ziftr.android.ziftrwallet" />

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />
    <uses-feature android:name="android.hardware.screen.landscape" />
    <uses-feature
        android:name="android.hardware.wifi"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name="com.ziftr.android.ziftrwallet.ZWApplication"
        android:allowBackup="true"
        android:icon="@drawable/ziftr_launcher"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.ziftr.android.ziftrwallet.ZWSplashScreenActivity"
            android:label="@string/ow_app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.ziftr.android.ziftrwallet.ZWWelcomeActivity" 
            android:windowSoftInputMode="adjustResize">
            
        </activity>
        <activity
            android:name="com.ziftr.android.ziftrwallet.ZWMainFragmentActivity"
            android:label="ziftrWALLET"
            android:windowSoftInputMode="adjustResize" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="bitcoin" />
                <data android:scheme="dogecoin" />
                <data android:scheme="litecoin" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.google.zxing.client.android.CaptureActivity"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>

        <uses-library android:name="android.test.runner" />

        <receiver
            android:name="ZWWalletWidget"
            android:label="ziftrWALLET" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/ziftrwallet_widget" />
        </receiver>
    </application>

</manifest>